.setup-instructions {
	text-align: center;
	margin-bottom: 3rem;
	p {
		width: 80%;
		margin: 0 auto;
		font-size: 1.1rem;
	}
}
.setup-form {
	display: flex;
	justify-content: center;
	max-width: 80%;
	flex-wrap: wrap;

	& > * {
		flex-basis: 100%;
	}

	&__group {
		display: flex;
		flex-direction: column;
		padding: 0.3rem;
		font-size: 1rem;

		label {
			margin-right: 0.3rem;
			margin-bottom: 0.5rem;
			width: 100%;
		}
		select {
			min-width: 5rem;
		}
	}

	&__count-select {
	}
	&__category-select {
		flex: 1;
	}
	&__button {
		margin-top: 1rem;
		cursor: pointer;
		min-width: 10rem;
		background-color: $primary;
		color: $light;
		border: 1px solid transparent;
		border-radius: $radius;
		padding: 0.5rem;
		transition: all 0.3s;
		&:hover {
			cursor: pointer;
			background-color: $primary;
			color: $light;
			transform: scaleX(1.05) scaleY(1.2);
		}
	}
}
