$primary: #4287b5;
$primary-light: #4085b3;
$secondary: #ffe286;
$success: #42b5a4;
$danger: #e44d4d;
$dark: #4b3f27;
$light: #ffffff;
$grey: rgb(209, 209, 209);
$radius: 0.5rem;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 6px 10px 0px;
